{% if comment.deleted %}
    {% if user.is_staff %}
        <div class="comment panel panel-default" data-comment-id="{{comment.id}}">
            <div class="panel-heading blocked comment-title">
                <div class="row">
                    <div class="col-sm-7">
                        <strong> <b> <a href="{% url 'core:user' comment.author_id %}"> {{ comment.author.username }} </a> </b> </strong>
                    </div>
                    <div class="col-sm-5" align="right">
                        <em>
                            Комментарий скрыт.
                        </em>
                        <button class="btn-xs btn-link" onclick="restoreComment({{ comment.id }})">Восстановить? </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% else %}
    <div class="comment panel panel-default" data-comment-id="{{comment.id}}">
        <div class="panel-heading blocked comment-title">
            <div class="row">
                <div class="col-sm-10">
                    <strong> <b> <a href="{% url 'core:user' comment.author_id %}"> {{ comment.author.username }} </a> </b> </strong>
                </div>
                <div class="col-sm-2" align="right">
                    {% if user.is_authenticated %}
                    <form method="post" class="form-inline">
                        {% csrf_token %}
                        {% if comment.author_id == user.id %}
                        <button
                                type="button"
                                class="edit-comment btn btn-xs btn-link"
                                onclick="loadForm({{comment.id}})">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        {%  endif %}
                        {% if user.is_staff or comment.author_id == user.id %}
                        <button
                                type="button"
                                class="delete-comment btn btn-xs btn-link"
                                onclick="deleteComment({{comment.id}})">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        {%  endif %}
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="comment-content panel-body" data-comment-id="{{comment.id}}">
            {{ comment.content | safe }}
        </div>
    </div>

{% endif %}