{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %} {{ editing_title }} {% endblock %}

{% block content %}

	<div class="row">
        <form class="form" method="post" enctype="multipart/form-data"> {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>
                        {{ editing_title }}
                    </h2>
                </div>
                <div class="panel-body">
                    <input type="text" name="movie" value="{{movie.id}}" hidden>
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </form>
	</div>

{% endblock %}