{% load bootstrap3 %}

<div
        style="font-family: 'Trebuchet MS', monospace;	font-size: 36pt;"
        class="col-xs-2 movie-rating"
        align="right"
        data-rate-url="{% url 'movies:rate' movie.id %}"
        data-movie-id="{{ movie.id }}">
</div>

<div class="col-xs-2 rate-form" align="right">
    {% if user.is_authenticated %}
    <form class="form-inline" method="post">
        {% csrf_token %}
        {% bootstrap_field rate_form.value field_class='movie_mark' %}
    </form>
    {% endif %}
</div>