{% extends "core/base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block title %} {{movie.title}} {% endblock %}

{% block content %}

<script src="{% static 'core/js/movies.js' %}"></script>
<script>$(document).ready(function() { loadMovieChart(); });</script>
<script src="{% static 'core/js/comments.js' %}"></script>

<div class="row">
		<div class="movie panel panel-default" data-movie-id="{{movie.id}}">
			<div class="panel-heading blocked post-title">
				{% include 'movies/movie_header.html' %}
			</div>

			<div class="panel-body row">
				{% if movie.poster %}
				<div class="col-sm-4">
					<p> <img src="{{ movie.poster.url }}" border=4> </p>
					<p> <b> Жанр: </b> {{ movie.genre | default_if_none:'-----' }} </p>
					<p> <b> Год: </b> {{ movie.year | default_if_none:'-----'}} </p>
					<p> <b> Бюджет: </b> {{ movie.budget | default_if_none:'-----'}} </p>
					<p> <b> Сборы: </b> {{ movie.box_office | default_if_none:'-----'}} </p>
				</div>
                {% endif %}
				<div class="col-sm-8">
					<p> <b> Описание: </b></p>
					<p> {{ movie.description | safe }} </p>
					<div id="movie-chart"></div>
				</div>
			</div>
		</div>
</div>

<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<div class="comments panel-group">
				{% for comment in comments %}
					{% include 'movies/comment.html' %}
				{% endfor %}
			</div>
		</div>
		<div class="col-sm-1"></div>
	</div>
	{% if user.is_authenticated %}
		 <div class="add-comment-form"> {% include 'movies/add_comment_form.html' %} </div>
	{% endif %}

{% endblock %}