{% extends "core/base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block title %} {{ user }} {% endblock %}

{% block content %}

    <script type="text/javascript" src="{% static 'core/js/user.js' %}"></script>

    {% if user.is_active %}

        <div class="row user-info" data-user-id="{{user.id}}">
            <div class="col-sm-4">
                <p><b>Имя пользователя:</b> {{user}}</p>
                <p><b>email:</b> {{user.email}}</p>
                <p><b>Настоящее имя:</b> {{user.first_name}} {{user.last_name}}</p>
                <p><b></b></p>
            </div>
            <div class="col-sm-8">
                <div id="user-chart"></div>
            </div>
        </div>

    {% else %}
        <h2> Пользователь не активен. Возможно, вы не прошли по ссылке в email? </h2>
    {% endif %}

{% endblock %}